.App {
  display: flex;
  background-color: #282c34;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.block-container {
  display: flex;
  flex-flow: row wrap;
  color: white;
  margin: auto;
  justify-content: center;
  align-items: center;

  max-width: 40%;
}

.block_minified {
  display: inline-block;
  height: auto;
  max-width: 200px;
  background-color: rgba(0, 119, 255, 0.452);
  border: 5px solid rgba(0, 225, 255, 0.452);
  border-radius: 8px;
  margin: 10px;
  font-size: 16px;
}

.block_minified:hover {
  cursor: pointer;
}

.block-header {
  background-color: rgb(120, 170, 226);
  width: 100%;
  height: auto;

  font-size: 1em;
  text-align: center;
}

.innerBody {
  margin: 5px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-left: 20px;
  border: 3px solid white;
}

.menuButton {
  margin: 5px;
  border-radius: 4px;
  font-size: 16px;
}
