.App {
  display: flex;
  background-color: #282c34;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.block-container {
  display: flex;
  flex-flow: row wrap;
  color: white;
  margin: auto;
  justify-content: center;
  align-items: center;

  max-width: 40%;
}

.block {
  display: inline-block;
  height: auto;
  max-width: 200px;
  background-color: rgba(0, 119, 255, 0.452);
  border: 5px solid rgba(0, 225, 255, 0.452);
  border-radius: 8px;
  margin: 10px;
  font-size: 0.8em;
}

.block-header {
  background-color: rgb(120, 170, 226);
  width: 100%;
  height: auto;

  font-size: 1em;
  text-align: center;
}

.innerBody {
  margin: 5px;
}
